.cabinet {
  margin-bottom: 55px;

  .account {
    position: relative;

    display: block;

    margin-top: 95px;

    &::before {
      top: -56px;
      right: -40px;
    }
  }

  &__title {
    letter-spacing: -0.01em;

    &::after {
      left: 50%;
    }
  }

  &__counter {
    margin-top: 110px;
  }

  &__counter-item {
    &--like {
      &::before {
        background-image: url(../images/icons/heart.svg);
      }

      &::after {
        content: "лайки";
      }
    }

    &--comment {
      &::before {
        background-image: url(../images/icons/message.svg);
      }

      &::after {
        content: "комментарии";
      }
    }

    &--answers {
      &::before {
        background-image: url(../images/icons/email.svg);
      }

      &::after {
        content: "ответы";
      }
    }
  }

  &__button-box {
    margin-top: 135px;
  }

  &__btn-settings {
    display: table;

    margin: 0 30px 0 auto;

    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;

    color: $text;
    border: none;
    background-color: transparent;

    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.7;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
