.forum {
  margin-bottom: 126px;

  &__title {
    margin-bottom: 20px;
  }

  &__add {
    font-style: italic;
    font-weight: 600;
    line-height: 1.7;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $text;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__item {
    margin-top: 51px;

    &+& {
      margin-top: 65px;
    }
  }

  &__divider::after {
    top: auto;
    bottom: -20px;
  }
}