.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: none;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 10vh 0;

  &__close {
    position: absolute;
    z-index: 14;
    top: 5%;
    right: 5%;

    width: 44px;
    height: 44px;

    border: none;
    background-color: transparent;

    font-size: 0;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 5px;
      height: 100%;

      content: "";
      transition: all 0.26s;

      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 1px 1px 5px $main;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &:focus {
      &::before {
        transform: translate(-50%, -50%) rotate(-60deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(60deg);
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(16, 24, 45, 0.5);
  }

  &__box {
    position: absolute;
    z-index: 13;
    top: 0;
    right: 0;
    left: 0;

    overflow-y: auto;

    width: 100%;
    max-width: 1150px;
    margin: 5% auto;
    padding: 180px 55px 60px 55px;

    border-radius: 70px;
    background-color: #ffffff;
  }

  &__content-wrapper {
    z-index: 1;

    display: none;

    padding: 0 28px 55px;

    border-radius: 70px;
    background-color: #ecedef;

    &::before {
      position: absolute;
      z-index: 0;
      top: 95px;
      right: 17px;

      overflow: hidden;

      width: auto;
      width: 50%;
      max-width: 470px;
      height: auto;
      height: 50%;
      max-height: 550px;

      @include fake-bg;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &__title {
    position: relative;
    top: -120px;

    max-width: 280px;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;

    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
  }

  &__text {
    margin-top: -42px;
  }

  &__text-item {
    margin: 0;

    & + & {
      margin-top: 38px;

      font-size: 16px;
      font-weight: 300;
      line-height: 1.62;
    }
  }

  &__registration,
  &__settings {
    margin-top: 38px;

    .modal__error {
      margin-top: -15px;
    }
  }

  &__error {
    margin: 15px 0 30px;

    text-align: center;

    color: #d33257;

    h4 {
      margin: 0;
    }

    p {
      margin: 5px 0 0;
    }
  }
}
