.new-article {
  margin-bottom: 160px;

  &__subtitle {
    margin-top: 112px;

    text-align: center;

    color: $main;

    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
  }

  &__inner {
    position: relative;

    flex-wrap: wrap;

    padding: 174px 137px 28px 36px;
  }

  &__input-wrapper {
    display: block;
    flex: 1 0 100%;

    margin-top: 40px;

    text-align: right;

    &--image {
      position: absolute;
      z-index: 2;
      top: 70px;
      right: 50px;

      flex: 0 0 412px;

      max-width: 100%;

      cursor: pointer;
      transition: all 0.26s;

      &.go-back {
        z-index: 0;

        opacity: 0.3;
      }

      &:hover,
      &:focus {
        z-index: 2;

        .new-article__descr {
          text-decoration: none;
        }
      }
    }

    &--small {
      flex: 0 1 400px;

      width: 100%;
      max-width: 400px;
      margin-top: 0;
    }
  }

  &__pic {
    display: block;

    width: 0;
    height: 0;
  }

  &__image {
    position: absolute;
    position: relative;
    z-index: 1;
    top: 0;

    display: block;
    overflow: hidden;

    width: 412px;
    height: 315px;

    border-radius: 20px;
    background-color: $main;

    object-fit: cover;

    &::before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: "";

      background-color: $main;
    }
  }

  &__descr {
    display: inline-block;

    margin-top: 13px;

    text-transform: uppercase;

    color: $text;

    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    line-height: 27px;

    text-decoration-line: underline;
  }

  &__content {
    width: 100%;
    min-height: 808px;

    resize: vertical;
    transition: all 0.26s;
  }

  &__btn {
    margin-top: 77px;
  }

  &__divider::after {
    top: auto;
    bottom: -100px;
  }

  .modal__error,
  .modal__success {
    width: 100%;
    max-width: 400px;
  }
}
