<section class="contact-form">
  <div class="container">
    <form class="contact-form__inner">
      <span class="contact-form__title"> Свяжитесь с нами </span>
      <div class="contact-form__box">
        <p class="contact-form__text">
          Если у вас возникли любые вопросы по поводу участия в работе
          Ассоциации, напишите нам
          <a class="contact-form__link" href="mailto:info@asclin.ru"
            >info@asclin.ru</a
          >
        </p>
        <label class="contact-form__item" for="contact-form-name">
          <input
            class="contact-form__input"
            id="contact-form-name"
            name="Имя"
            type="text"
            placeholder="Имя"
            required
          />
        </label>
        <label class="contact-form__item" for="contact-form-surname">
          <input
            class="contact-form__input"
            id="contact-form-surname"
            name="Фамилия"
            type="text"
            placeholder="Фамилия"
            required
          />
        </label>
        <label class="contact-form__item" for="contact-form-email">
          <input
            class="contact-form__input"
            id="contact-form-email"
            name="E-mail"
            type="text"
            placeholder="E-mail"
            inputmode="email"
            required
          />
        </label>
        <label class="contact-form__item" for="contact-form-phone">
          <input
            class="contact-form__input"
            id="contact-form-phone"
            name="Телефон"
            type="tel"
            placeholder="Телефон"
            inputmode="tel"
            required
          />
        </label>
        <button type="submit" class="contact-form__btn white-btn">
          Отправить
        </button>
        <p class="contact-form__text">
          Официальная группа в
          <a class="contact-form__link" href="https://facebook.com">Фейсбук</a>
          для членов ассоциации.
        </p>
        <p class="contact-form__text">
          Канал на
          <a class="contact-form__link" href="https://youtube.com">Youtube</a>
        </p>
      </div>
    </form>
  </div>
</section>
