<section class="partners partners--bg-left">
  <div class="container">
    <h2 class="partners__title section-title">
      Партнеры
      <span class="section-title__shadow">Партнеры</span>
    </h2>
    <div class="partners__inner swiper-container">
      <div class="swiper-wrapper">
        <a href="http://www.rasfd.com/" class="swiper-slide">
          <img
            src="images/partner1.jpg"
            alt="Логотип партнёра"
            class="partners__item"
          />
        </a>
        <a href="http://www.evidence-neurology.ru/" class="swiper-slide">
          <img
            src="images/partner2.png"
            alt="Логотип партнёра"
            class="partners__item"
          />
        </a>
      </div>
    </div>
  </div>
</section>
