.read-more {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  padding-right: 40px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 32px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include bg;
    background-image: url(../images/icons/arrow-more.svg);
    transition: all 0.26s;
  }

  &:hover {
    text-decoration: underline;

    &::after {
      transform: translate(20%, -50%);
    }
  }

  &--white {
    color: #ffffff;

    &::after {
      background-image: url(../images/icons/arrow-more-white.svg);
    }

    &:visited {
      color: #ffffff;
    }
  }
}