.section-title {
  @extend %h2;
  position: relative;
  user-select: none;
  margin-bottom: 12px;

  &__shadow {
    position: absolute;
    color: $main;
    left: -10px;
    bottom: 6px;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    user-select: text;
  }

  @extend %divider;

  &::after {
    top: auto;
    bottom: -40px;
    left: 50%;
  }
}