.section-title {
  position: relative;

  margin-top: 50px;
  margin-bottom: 12px;

  user-select: none;

  @extend %h2;
  @extend %divider;

  &__shadow {
    position: absolute;
    bottom: 6px;
    left: -10px;

    user-select: text;
    text-transform: uppercase;

    color: $main;

    font-size: 60px;
    line-height: 73px;
  }

  &::after {
    top: auto;
    bottom: -40px;
    left: 50%;
  }
}
